Repository PNdlovu/WriteCareNotes, changes with the owners that CODEOWNERS names for each.
All owners: @writecarenotes/engineering-team, @writecarenotes/security-team, @writecarenotes/compliance-team, @writecarenotes/healthcare-team, @writecarenotes/hr-team, @writecarenotes/finance-team, @writecarenotes/ai-team, @writecarenotes/frontend-team, @writecarenotes/mobile-team, @writecarenotes/devops-team, @writecarenotes/technical-writing, @writecarenotes/database-team, @writecarenotes/qa-team

ENTERPRISE TRANSFORMATION COMPLETE: Zero Tolerance Compliance System
  package-lock.json
  package.json
  reports/british-isles-compliance-report.md
  scripts/compliance-checker.ts
  src/repositories/pilot-feedback-agent.repository.ts
  src/services/audit/agent-audit.service.ts
  src/services/database/database.service.ts
  src/services/monitoring/PrometheusService.ts
  src/services/notifications/notification.service.ts
  src/services/payment/PaymentGatewayService.ts
  src/services/pilot/pilot-feedback-agent.service.ts
  tsconfig.core.json
Owners: @writecarenotes/engineering-team, @writecarenotes/technical-writing, @writecarenotes/security-team

Update compliance report - ZERO TOLERANCE MAINTAINED
  reports/british-isles-compliance-report.md
Owners: @writecarenotes/technical-writing

SMART FIXES: Resolve all TypeScript errors efficiently
  reports/british-isles-compliance-report.md
  src/entities/Organization.ts
  src/entities/Tenant.ts
  src/services/audit/agent-audit.service.ts
  src/services/monitoring/PrometheusService.ts
  src/services/pilot/pilot-feedback-agent.service.ts
  tsconfig.core.json
Owners: @writecarenotes/technical-writing, @writecarenotes/engineering-team, @writecarenotes/security-team

Transform Database Migrations to Enterprise-Grade Production Standards
  database/migrations/009_create_medication_reconciliation_tables.ts
  database/migrations/030_create_compliance_tables.ts
  database/migrations/031_create_jurisdiction_compliance_tables.ts
Owners: @writecarenotes/database-team

Transform FamilyOnboardingService to Enterprise Production Standards
  mobile/src/services/FamilyOnboardingService.ts
  mobile/src/services/__tests__/FamilyOnboardingService.test.ts
Owners: @writecarenotes/mobile-team, @writecarenotes/qa-team

Transform HandoverScreen to Enterprise Production Standards
  mobile/src/screens/handover/HandoverScreen.tsx
  mobile/src/screens/handover/__tests__/HandoverScreen.test.tsx
Owners: @writecarenotes/mobile-team

CRITICAL: Care Home Terminology Standardization Complete
  AUDIT_REPORT.md
  CARE_HOME_TERMINOLOGY_STANDARDIZATION_PLAN.md
  README-ENTERPRISE-CORE.md
  README.md
  SECURITY_VERIFICATION_SUMMARY.md
  database/migrations/009_create_medication_reconciliation_tables.ts
  database/migrations/030_create_compliance_tables.ts
  database/migrations/031_create_jurisdiction_compliance_tables.ts
  frontend/src/components/blog/BlogAdmin.test.tsx
  frontend/src/components/blog/BlogAdmin.tsx
  mobile/src/screens/executive/ExecutiveDashboardScreen.tsx
  mobile/src/screens/handover/HandoverScreen.tsx
  mobile/src/services/BiometricService.ts
  mobile/src/services/FamilyOnboardingService.ts
  pwa/src/components/forms/AIFormAssistant.tsx
  pwa/src/components/forms/AdvancedFormBuilder.tsx
  pwa/vite.config.ts
  src/index.ts
  src/routes/index.ts
  src/services/health/HealthService.ts
  src/services/resident/ResidentService.fixed.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/database-team, @writecarenotes/frontend-team, @writecarenotes/mobile-team, @writecarenotes/engineering-team

RUNTIME: Fix UUID ES Module Compatibility Issue
  package-lock.json
  package.json
  reports/british-isles-compliance-report.md
Owners: @writecarenotes/engineering-team, @writecarenotes/technical-writing

COMPLETE: Working Care Home Management System
  src/server-simple.ts
  test-api.js
Owners: @writecarenotes/engineering-team

Add platform naming architecture and system excellence report
  PLATFORM_NAMING_ARCHITECTURE.md
  SYSTEM_EXCELLENCE_REPORT.md
Owners: @writecarenotes/technical-writing

Add new microservices to platform showcase pages
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/platform/EnterpriseFeaturesPage.tsx
Owners: @writecarenotes/frontend-team

Add AI Chat Widget and Enterprise Conversion Features
  frontend/src/components/AIChatWidget.tsx
  frontend/src/pages/HomePage.tsx
Owners: @writecarenotes/frontend-team

Complete Knowledge Base & Content Updates for New Features
  frontend/src/pages/BlogListPage.tsx
  frontend/src/pages/HelpCenterPage.tsx
  frontend/src/pages/ResourcesPage.tsx
Owners: @writecarenotes/frontend-team

Add comprehensive content audit summary document
  CONTENT_AUDIT_COMPLETE.md
Owners: @writecarenotes/technical-writing

Add complete blog articles for RAG AI, WriteCare Connect, and Document Intelligence (IDs 11, 12, 13)
  frontend/src/data/blogArticles.ts
Owners: @writecarenotes/frontend-team

Add comprehensive Phase 2 Policy Governance Engine implementation plan with all missing features
  POLICY_GOVERNANCE_PHASE2_IMPLEMENTATION_PLAN.md
Owners: @writecarenotes/technical-writing

Update Phase 2 plan: Comprehensive British Isles regulatory integration (all 7 jurisdictions)
  POLICY_GOVERNANCE_PHASE2_IMPLEMENTATION_PLAN.md
Owners: @writecarenotes/technical-writing

Phase 2 TIER 1 Feature 1: Policy Version Comparison & Rollback (COMPLETE)
  IMPLEMENTATION_PROGRESS.md
  frontend/src/components/policy/PolicyVersionComparison.tsx
  src/entities/policy-version.entity.ts
  src/migrations/1696579200000-CreatePolicyVersionsTable.ts
  src/services/policy-governance/policy-version.service.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/frontend-team, @writecarenotes/engineering-team, @writecarenotes/database-team

Add comprehensive Phase 2 session summary and handoff documentation
  PHASE2_SESSION_SUMMARY.md
Owners: @writecarenotes/technical-writing

feat: Complete Feature 1 - Policy Version Comparison & Rollback (100%)
  API_TESTING_GUIDE.md
  FEATURE1_COMPLETE.md
  FEATURE1_VERIFICATION_REPORT.md
  SESSION_SUMMARY_OCT7.md
  frontend/src/components/policy/DiffViewer.tsx
  frontend/src/components/policy/PolicyVersionComparison.tsx
  frontend/src/components/policy/VersionTimeline.tsx
  frontend/src/components/ui/Separator.tsx
  frontend/src/components/ui/Tabs.tsx
  src/controllers/policy-version.controller.ts
  src/routes/index.ts
  src/routes/policy-versions.routes.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/frontend-team, @writecarenotes/engineering-team

feat: Complete Phase 2 TIER 1 Feature 2 - Real-Time Collaboration
  FEATURE2_COMPLETE_SUMMARY.md
  FEATURE2_COMPLETION_REPORT.md
  FEATURE2_SESSION1_PROGRESS.md
  FEATURE2_SESSION2_PROGRESS.md
  FEATURE2_SESSION3_PROGRESS.md
  FEATURE2_SESSION4_PROGRESS.md
  GIT_PUSH_CONFIRMATION.md
  docs/COLLABORATION_REST_API.md
  docs/COLLABORATION_TESTING_GUIDE.md
  docs/COLLABORATION_USER_MANUAL.md
  docs/WEBSOCKET_PROTOCOL.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/policy/ActiveUsers.tsx
  frontend/src/components/policy/CollaborationNotifications.tsx
  frontend/src/components/policy/CommentEditor.tsx
  frontend/src/components/policy/CommentThread.tsx
  frontend/src/components/policy/LiveCursors.tsx
  frontend/src/components/policy/PresenceBadge.tsx
  frontend/src/contexts/CollaborationContext.tsx
  package-lock.json
  package.json
  src/entities/collaboration-session.entity.ts
  src/entities/policy-comment.entity.ts
  src/migrations/1696579300000-CreateCollaborationTables.ts
  src/routes/collaboration.routes.ts
  src/routes/index.ts
  src/services/policy-governance/collaboration-session.service.ts
  src/services/policy-governance/policy-collaboration.gateway.ts
  src/services/policy-governance/policy-comment.service.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/frontend-team, @writecarenotes/engineering-team, @writecarenotes/database-team

docs: Add Feature 2 (Real-Time Collaboration) to README
  README.md
Owners: @writecarenotes/technical-writing

fix: Exclude TSX files from backend tsconfig (4,436 2,860 errors)
  tsconfig.json
Owners: @writecarenotes/engineering-team

fix: Replace this.console with console and comment out missing imports
  src/controllers/ai-agents/PublicAIAgentController.ts
  src/controllers/ai-agents/TenantAIAgentController.ts
  src/controllers/compliance/BritishIslesComplianceController.ts
  src/middleware/compliance-validation-middleware.ts
  src/services/security/enterprise-security.service.ts
  src/utils/logger.ts
Owners: @writecarenotes/ai-team, @writecarenotes/engineering-team, @writecarenotes/security-team

Add middleware stubs (authentication, authorization, validation, audit, rate-limit, healthcare-context, RBAC) and core entity stubs (Resident, StaffMember, CareNote) - 14 errors eliminated
  src/domains/care/entities/CareNote.ts
  src/domains/care/entities/Resident.ts
  src/domains/staff/entities/StaffMember.ts
  src/middleware/audit.middleware.ts
  src/middleware/authentication.ts
  src/middleware/authorization-middleware.ts
  src/middleware/authorization.ts
  src/middleware/healthcare-context.middleware.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/rateLimitMiddleware.ts
  src/middleware/rbacMiddleware.ts
  src/middleware/validateRequest.ts
  src/middleware/validation.ts
Owners: @writecarenotes/engineering-team

Remove useless stub middleware and entity files - they create false security and technical debt. Keeping only real guards/decorators with actual logic
  src/domains/care/entities/CareNote.ts
  src/domains/care/entities/Resident.ts
  src/domains/staff/entities/StaffMember.ts
  src/middleware/audit.middleware.ts
  src/middleware/authentication.ts
  src/middleware/authorization-middleware.ts
  src/middleware/authorization.ts
  src/middleware/healthcare-context.middleware.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/rateLimitMiddleware.ts
  src/middleware/rbacMiddleware.ts
  src/middleware/validateRequest.ts
  src/middleware/validation.ts
Owners: @writecarenotes/engineering-team

Service #1 COMPLETE: Authentication & Authorization System
  MICROSERVICES_CHECKLIST.md
  database/migrations/20251008_create_auth_tables.ts
  docs/services/AUTHENTICATION_SERVICE.md
  package-lock.json
  package.json
  src/controllers/auth/AuthController.ts
  src/entities/auth/PasswordReset.ts
  src/entities/auth/RefreshToken.ts
  src/entities/auth/Session.ts
  src/routes/auth.routes.ts
  tests/controllers/AuthController.test.ts
  tests/services/JWTAuthenticationService.test.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/database-team, @writecarenotes/engineering-team, @writecarenotes/qa-team

Add Service #1 Completion Report - Authentication System PRODUCTION READY
  SERVICE_1_COMPLETION_REPORT.md
Owners: @writecarenotes/technical-writing

Service #2 COMPLETE: Organization & Multi-Tenancy System
  src/controllers/organization/OrganizationController.ts
  src/middleware/tenant-isolation.middleware.ts
  src/routes/organization.routes.ts
  src/services/organization/OrganizationService.ts
  src/services/tenant/TenantService.ts
Owners: @writecarenotes/engineering-team

INTEGRATION COMPLETE: Full App Integration
  src/config/typeorm.config.ts
  src/routes/index.ts
  src/server.ts
  tests/integration/auth-flow.test.ts
  tests/integration/organization-crud.test.ts
Owners: @writecarenotes/engineering-team, @writecarenotes/qa-team

Add Integration Verification Complete Documentation
  INTEGRATION_VERIFICATION_COMPLETE.md
Owners: @writecarenotes/technical-writing

Service #3 COMPLETE: Resident Management System
  src/config/typeorm.config.ts
  src/controllers/resident/ResidentController.ts
  src/domains/care/entities/CareNote.ts
  src/routes/index.ts
  src/routes/resident.routes.ts
  src/services/resident/ResidentService.ts
Owners: @writecarenotes/engineering-team

Service #4 COMPLETE: Staff Management System
  src/config/typeorm.config.ts
  src/controllers/staff/StaffController.ts
  src/routes/index.ts
  src/routes/staff.routes.ts
  src/services/staff/StaffService.ts
Owners: @writecarenotes/engineering-team

Service #5 COMPLETE: Audit & Logging System
  src/controllers/audit/AuditController.ts
  src/middleware/audit-logging.middleware.ts
  src/routes/audit.routes.ts
  src/routes/index.ts
  src/services/audit/AuditService.ts
Owners: @writecarenotes/engineering-team, @writecarenotes/security-team

PHASE 1 PROGRESS REPORT - 71.4% Complete
  PHASE_1_COMPLETION_REPORT.md
Owners: @writecarenotes/technical-writing

feat(Service #6): Implement Care Planning Service - Production Ready
  src/controllers/care-planning/SimpleCarePlanController.ts
  src/routes/care-plan.routes.ts
  src/routes/index.ts
  src/services/care-planning/CarePlanningService.ts
Owners: @writecarenotes/engineering-team, @writecarenotes/healthcare-team

feat(Service #7): Complete Medication Management Service - PHASE 1 COMPLETE
  src/controllers/medication/SimpleMedicationController.ts
  src/routes/index.ts
  src/routes/medication.routes.ts
  src/services/medication/MedicationManagementService.ts
Owners: @writecarenotes/healthcare-team, @writecarenotes/engineering-team

docs: Add comprehensive Phase 1 completion report
  PHASE_1_FINAL_COMPLETION_REPORT.md
Owners: @writecarenotes/technical-writing

feat(Service #8): Complete Document Management Service with version control, workflow, and compliance tracking
  src/controllers/document/SimpleDocumentController.ts
  src/routes/document.routes.ts
  src/routes/index.ts
  src/services/document/SimpleDocumentService.ts
Owners: @writecarenotes/engineering-team

feat(Service #9): Complete Family Communication Service with portal, messaging, and visit management
  src/controllers/family/FamilyCommunicationController.ts
  src/routes/family-communication.routes.ts
  src/routes/index.ts
  src/services/family/FamilyCommunicationService.ts
Owners: @writecarenotes/engineering-team

CODEOWNERS:

# WriteCareNotes Code Owners
# This file defines who is responsible for different parts of the codebase

# Global ownership
* @writecarenotes/engineering-team

# Core platform services
/src/services/audit/ @writecarenotes/security-team
/src/services/compliance/ @writecarenotes/compliance-team
/src/services/security/ @writecarenotes/security-team
/src/services/zero-trust/ @writecarenotes/security-team

# Healthcare modules
/src/services/medication/ @writecarenotes/healthcare-team
/src/services/care-planning/ @writecarenotes/healthcare-team
/src/services/clinical-safety/ @writecarenotes/healthcare-team
/src/controllers/medication/ @writecarenotes/healthcare-team

# HR and workforce
/src/services/hr/ @writecarenotes/hr-team
/src/services/workforce/ @writecarenotes/hr-team
/src/controllers/hr/ @writecarenotes/hr-team

# Financial services
/src/services/financial/ @writecarenotes/finance-team
/src/controllers/financial/ @writecarenotes/finance-team

# AI and automation
/src/services/ai-agents/ @writecarenotes/ai-team
/src/services/ai-automation/ @writecarenotes/ai-team
/src/controllers/ai-agents/ @writecarenotes/ai-team

# Frontend and mobile
/frontend/ @writecarenotes/frontend-team
/mobile/ @writecarenotes/mobile-team
/pwa/ @writecarenotes/frontend-team

# Infrastructure and deployment
/deployment/ @writecarenotes/devops-team
/kubernetes/ @writecarenotes/devops-team
/terraform/ @writecarenotes/devops-team
/docker-compose*.yml @writecarenotes/devops-team
/Dockerfile @writecarenotes/devops-team

# Documentation
/docs/ @writecarenotes/technical-writing
*.md @writecarenotes/technical-writing

# Configuration files
package.json @writecarenotes/engineering-team
tsconfig*.json @writecarenotes/engineering-team
jest.config*.js @writecarenotes/engineering-team
.eslintrc.js @writecarenotes/engineering-team

# Database
/database/ @writecarenotes/database-team
/src/migrations/ @writecarenotes/database-team

# Tests
/tests/ @writecarenotes/qa-team
**/*.test.ts @writecarenotes/qa-team
**/*.spec.ts @writecarenotes/qa-team
