Repository PNdlovu/WriteCareNotes, changes with the owners that CODEOWNERS names for each.
All owners: @writecarenotes/engineering-team, @writecarenotes/security-team, @writecarenotes/compliance-team, @writecarenotes/healthcare-team, @writecarenotes/hr-team, @writecarenotes/finance-team, @writecarenotes/ai-team, @writecarenotes/frontend-team, @writecarenotes/mobile-team, @writecarenotes/devops-team, @writecarenotes/technical-writing, @writecarenotes/database-team, @writecarenotes/qa-team

feat(service-10): Add Incident Management Service with comprehensive incident tracking
  src/controllers/incident/IncidentManagementController.ts
  src/routes/incident.routes.ts
  src/routes/index.ts
  src/services/incident/IncidentManagementService.ts
Owners: @writecarenotes/engineering-team

feat(service-11): Add Health Monitoring Service with comprehensive vital signs tracking
  src/controllers/health/HealthMonitoringController.ts
  src/routes/health-monitoring.routes.ts
  src/routes/index.ts
  src/services/health/HealthMonitoringService.ts
Owners: @writecarenotes/engineering-team

feat(service-12): Add Activity & Wellbeing Service for resident engagement tracking
  src/controllers/activities/ActivityWellbeingController.ts
  src/routes/activity-wellbeing.routes.ts
  src/routes/index.ts
  src/services/activities/ActivityWellbeingService.ts
Owners: @writecarenotes/engineering-team

feat(service-14): Add Reporting & Analytics Service
  src/controllers/reporting/ReportingAnalyticsController.ts
  src/routes/index.ts
  src/routes/reporting.routes.ts
  src/services/reporting/ReportingAnalyticsService.ts
Owners: @writecarenotes/engineering-team

docs: Add Phase 2 completion documentation
  PHASE_2_COMPLETION_REPORT.md
  PHASE_2_FINAL_SUMMARY.md
Owners: @writecarenotes/technical-writing

docs: Add comprehensive production deployment tracker
  PRODUCTION_DEPLOYMENT_TRACKER.md
Owners: @writecarenotes/technical-writing

production: Add complete production deployment package
  .env.production.example
  API_DOCUMENTATION.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  database/migrations/1728468000000-Phase2Services.ts
Owners: @writecarenotes/engineering-team, @writecarenotes/technical-writing, @writecarenotes/database-team

docs: Add final production status report
  FINAL_PRODUCTION_STATUS.md
Owners: @writecarenotes/technical-writing

audit: Add comprehensive microservices audit report
  MICROSERVICES_AUDIT_REPORT.md
Owners: @writecarenotes/technical-writing

plan: Add comprehensive microservices verification plan
  MICROSERVICES_VERIFICATION_PLAN.md
Owners: @writecarenotes/technical-writing

feat(group-1): Complete Core Services verification (8 services)
  GROUP_1_API_DOCUMENTATION.md
  GROUP_1_COMPLETION_REPORT.md
  GROUP_1_CORE_SERVICES_REPORT.md
  GROUP_1_DATABASE_VERIFICATION.md
  GROUP_1_TEST_PLAN.md
  GROUP_1_TEST_RESULTS.md
  MICROSERVICES_VERIFICATION_PLAN.md
  src/controllers/tenant/TenantController.ts
  src/routes/index.ts
  src/routes/tenants.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/engineering-team

fix(group-1): Complete middleware implementation - 100% pass rate
  GROUP_1_COMPLETION_REPORT.md
  GROUP_1_MIDDLEWARE_DOCUMENTATION.md
  GROUP_1_TEST_RESULTS.md
  src/middleware/auth.middleware.ts
  src/middleware/permissions.middleware.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/engineering-team

docs: Add enterprise development progress dashboard
  ENTERPRISE_DEVELOPMENT_PROGRESS.md
Owners: @writecarenotes/technical-writing

docs: GROUP 1 final verification report - 100% complete
  GROUP_1_FINAL_VERIFICATION.md
Owners: @writecarenotes/technical-writing

GROUP 2: Medication Services - Complete Verification (95/100 Production Ready)
  GROUP_2_API_DOCUMENTATION.md
  GROUP_2_COMPLETION_REPORT.md
  GROUP_2_DOCUMENTATION_PROGRESS.md
  GROUP_2_HEALTH_CHECK_RESULTS.md
  GROUP_2_MEDICATION_SERVICES_REPORT.md
  RUNTIME_VERIFICATION_PLAN.md
Owners: @writecarenotes/technical-writing

GROUP 2: Recommendations Complete - 100% Production Ready
  GROUP_2_DATABASE_VERIFICATION.md
  GROUP_2_FINAL_VERIFICATION_SUMMARY.md
Owners: @writecarenotes/technical-writing

GROUP 3 + Development Pivot: Strategic Plan Complete
  DEVELOPMENT_PRIORITY_PLAN.md
  GROUP_3_CARE_PLANNING_SERVICES_REPORT.md
  GROUP_3_QUICK_SUMMARY.md
  GROUP_3_STRATEGIC_RECOMMENDATION.md
Owners: @writecarenotes/technical-writing

Phase 1.1 Task 1: Repository Layer Complete
  PHASE_1_AUTH_SERVICE_PLAN.md
  src/entities/PasswordResetToken.ts
  src/entities/RefreshToken.ts
  src/repositories/PasswordResetTokenRepository.ts
  src/repositories/RefreshTokenRepository.ts
  src/repositories/UserRepository.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/engineering-team

Phase 1.1 Task 2: Database Integration Complete - JWTAuthenticationService Refactored
  src/services/auth/JWTAuthenticationService.ts
Owners: @writecarenotes/engineering-team

Phase 1.1 Progress Report: Authentication Service 50% Complete
  PHASE_1_1_PROGRESS_REPORT.md
Owners: @writecarenotes/technical-writing

Zero Tolerance: Eliminated ALL TODOs/Stubs/Mocks from Authentication
  REMOVED_STUBS_TRACKER.md
  src/repositories/RoleRepository.ts
  src/services/auth/JWTAuthenticationService.ts
  src/services/core/EmailService.ts
Owners: @writecarenotes/technical-writing, @writecarenotes/engineering-team

Documentation: Zero Tolerance Achievement Report
  ZERO_TOLERANCE_ACHIEVEMENT.md
Owners: @writecarenotes/technical-writing

Task 5: Database Migrations Complete - Auth Tables + System Roles
  DATABASE_SETUP_GUIDE.md
  database/migrations/20251009_001_update_auth_tables_for_entities.ts
  database/migrations/20251009_002_seed_system_roles.ts
  package-lock.json
  package.json
Owners: @writecarenotes/technical-writing, @writecarenotes/database-team, @writecarenotes/engineering-team

Documentation: Task 5 Complete - Database Migrations Ready
  TASK_5_COMPLETE_DATABASE_MIGRATIONS.md
Owners: @writecarenotes/technical-writing

Task 6: TypeScript Configuration & Export Structure
  TYPESCRIPT_DECORATOR_ISSUE.md
  src/repositories/RoleRepository.ts
  src/repositories/index.ts
  src/services/core/index.ts
  tsconfig.json
Owners: @writecarenotes/technical-writing, @writecarenotes/engineering-team

docs: Add README regeneration summary report
  README_REGENERATION_SUMMARY.md
Owners: @writecarenotes/technical-writing

fix: Correct architecture terminology from microservices to modular monolith
  ARCHITECTURE_CORRECTION.md
  COMPLETE_MODULES_PORTFOLIO.md
  README.md
  README_REGENERATION_SUMMARY.md
Owners: @writecarenotes/technical-writing

docs: Add architecture correction completion summary
  ARCHITECTURE_TERMINOLOGY_CORRECTION_COMPLETE.md
Owners: @writecarenotes/technical-writing

feat: Add monorepo migration script and comprehensive guide
  MONOREPO_MIGRATION_GUIDE.md
  migrate-to-monorepo.ps1
Owners: @writecarenotes/technical-writing, @writecarenotes/engineering-team

feat: Add unattended monorepo migration script for overnight execution
  migrate-to-monorepo-unattended.ps1
Owners: @writecarenotes/engineering-team

Fix backend build configuration
  .turbo/cache/07524c2146514c0d-meta.json
  .turbo/cache/07524c2146514c0d.tar.zst
  .turbo/cache/a089fb3e0395b579-meta.json
  .turbo/cache/a089fb3e0395b579.tar.zst
  .turbo/cookies/10.cookie
  .turbo/cookies/11.cookie
  .turbo/cookies/12.cookie
  .turbo/cookies/13.cookie
  .turbo/cookies/14.cookie
  .turbo/cookies/15.cookie
  .turbo/cookies/16.cookie
  .turbo/cookies/17.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  MONOREPO_MIGRATION_COMPLETE.md
  apps/backend/package.json
Owners: @writecarenotes/engineering-team, @writecarenotes/technical-writing

docs: add comprehensive syntax error fix summary
  SYNTAX_ERRORS_FIXED.md
Owners: @writecarenotes/technical-writing

CODEOWNERS:

# WriteCareNotes Code Owners
# This file defines who is responsible for different parts of the codebase

# Global ownership
* @writecarenotes/engineering-team

# Core platform services
/src/services/audit/ @writecarenotes/security-team
/src/services/compliance/ @writecarenotes/compliance-team
/src/services/security/ @writecarenotes/security-team
/src/services/zero-trust/ @writecarenotes/security-team

# Healthcare modules
/src/services/medication/ @writecarenotes/healthcare-team
/src/services/care-planning/ @writecarenotes/healthcare-team
/src/services/clinical-safety/ @writecarenotes/healthcare-team
/src/controllers/medication/ @writecarenotes/healthcare-team

# HR and workforce
/src/services/hr/ @writecarenotes/hr-team
/src/services/workforce/ @writecarenotes/hr-team
/src/controllers/hr/ @writecarenotes/hr-team

# Financial services
/src/services/financial/ @writecarenotes/finance-team
/src/controllers/financial/ @writecarenotes/finance-team

# AI and automation
/src/services/ai-agents/ @writecarenotes/ai-team
/src/services/ai-automation/ @writecarenotes/ai-team
/src/controllers/ai-agents/ @writecarenotes/ai-team

# Frontend and mobile
/frontend/ @writecarenotes/frontend-team
/mobile/ @writecarenotes/mobile-team
/pwa/ @writecarenotes/frontend-team

# Infrastructure and deployment
/deployment/ @writecarenotes/devops-team
/kubernetes/ @writecarenotes/devops-team
/terraform/ @writecarenotes/devops-team
/docker-compose*.yml @writecarenotes/devops-team
/Dockerfile @writecarenotes/devops-team

# Documentation
/docs/ @writecarenotes/technical-writing
*.md @writecarenotes/technical-writing

# Configuration files
package.json @writecarenotes/engineering-team
tsconfig*.json @writecarenotes/engineering-team
jest.config*.js @writecarenotes/engineering-team
.eslintrc.js @writecarenotes/engineering-team

# Database
/database/ @writecarenotes/database-team
/src/migrations/ @writecarenotes/database-team

# Tests
/tests/ @writecarenotes/qa-team
**/*.test.ts @writecarenotes/qa-team
**/*.spec.ts @writecarenotes/qa-team
